{% extends 'pem/base.html' %}

{% load i18n %}
{% load static %}


{% block top_content %}
<h2>{% trans "Structures" %}</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock top_content %}

{% block clean_content %}
<div class="row mt-5">
    {% for structure in structures %}
    <div class="col-12 col-lg-3">
        <!--start card-->
        <div class="card-wrapper card-space">
            <div class="card card-bg">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ structure }}
                    </h5>
                    <p>
                        {% for counter in event_counts %}
                            {% if counter.structure__pk == structure.pk %}
                                <b>{% trans "To be handled" %}:</b>
                                {% if counter.to_handle_count %}
                                <span class="badge bg-info">{{ counter.to_handle_count }}</span>
                                {% else %}
                                0
                                {% endif %}
                                <br>
                                <b>{% trans "To evaluate" %}:</b>
                                {% if counter.to_evaluate_count %}
                                <span class="badge bg-info">{{ counter.to_evaluate_count }}</span>
                                {% else %}
                                0
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </p>
                    <a class="read-more" href="{% url 'public_engagement_monitoring:operator_events' structure_slug=structure.slug %}">
                        <span class="text text-primary">{% trans "Manage" %}</span>
                        <svg class="icon">
                            <use href="{% static 'svg/sprites.svg' %}#it-arrow-right-circle"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    {% endfor %}
</div>
{% endblock clean_content %}
