django>=4.0.2
django_countries
django-rest-framework
pillow
requests

# $ sudo apt-get install python3-dev default-libmysqlclient-dev build-essential
mysqlclient

design-django-theme
git+https://github.com/UniversitaDellaCalabria/django-unical-bootstrap-italia.git

git+https://github.com/peppelinux/django-datatables-ajax.git

cryptojwt

python-magic

django-filter
