.dataTable {
    max-width: 100%;
}

@media (min-width: 992px){
    .pull-right {
        float: right !important;
    }
}

@media (max-width: 767px){
    .btn {
        display: block !important;
        width: 100%;
        margin: 3px 0;
    }
}
