{% extends 'base_page.html' %}

{% load i18n %}
{% load static %}


{% block top_content %}
<h2>{% trans "New Social Engagement" %}</h2>
<h4>{{ structure }}</h4>
{% endblock top_content %}

{% block top_buttons %}
<div class="pb-4 clearfix mt-5">
    <div class="float-lg-start d-inline">
        <a role="button" class="btn btn-outline-secondary" href="{% url 'public_engagement:dashboard' %}">
            <svg class="icon icon-xs">
                <use xlink:href="{% static 'svg/sprites.svg' %}#it-arrow-left"></use>
            </svg> {% trans "Social Engagement management" %}
        </a>
        <a role="button" class="btn btn-outline-secondary" href="{% url 'public_engagement:structure_public_engagements' structure_slug=structure.slug %}">
            <svg class="icon icon-xs">
                <use xlink:href="{% static 'svg/sprites.svg' %}#it-arrow-left"></use>
            </svg> {% trans "Back to" %} {{ structure }}
        </a>
    </div>


</div>
{% endblock top_buttons %}

{% block page_content %}
{% include 'form_template.html' with form=form %}
{% endblock page_content %}
