{% extends 'base_page.html' %}

{% load i18n %}
{% load static %}


{% block top_content %}
<h2>{% trans "Social Engagement" %}</h2>
<h4>{{ structure }}</h4>
{% endblock top_content %}

{% block top_buttons %}
<div class="pb-4 clearfix mt-5">
    <div class="pull-left d-inline">
        <a role="button" class="btn btn-outline-secondary" href="{% url 'public_engagement:dashboard' %}">
            <svg class="icon icon-xs">
                <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
            </svg> {% trans "Social Engagement management" %}
        </a>
    </div>

    <div class="pull-right d-inline">
        <a role="button"
           class="btn btn-outline-success float-right"
           href="{% url 'public_engagement:structure_public_engagement_new' structure_slug=structure.slug %}">
                <svg class="icon icon-xs">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Add new" %}
        </a>
    </div>
</div>
{% endblock top_buttons %}

{% block page_content %}
{% include 'datatables_public_engagement/table.html' %}
{% endblock page_content %}


{% block extra_scripts %}
    {% url 'public_engagement:structure_public_engagements' structure_slug=structure.slug as var_url %}
    {% url 'public_engagement:structure_public_engagements_json' structure_slug=structure.slug as ajax_url %}
    {% include 'datatables_public_engagement/datatable_script.html' with var_url=var_url ajax_url=ajax_url user_show_priority=user_show_priority %}
{% endblock extra_scripts %}
