{% extends 'base_page.html' %}

{% load i18n %}
{% load static %}


{% block top_content %}
<h2>{{ event }}</h2>
{% endblock top_content %}

{% block clean_content %}
{{ event.title }}<br>
{{ event.start }}<br>
{{ event.end }}<br>
{{ event.referent }}<br>
{{ event.referent_organizational_structure }}


<p>
    <a class="btn btn-primary"href="{% url 'public_engagement_monitoring:event_fase1' event_id=event.pk %}">
        Dati Fase 1
    </a>
    <button class="btn btn-primary">Personale coinvolto</button>
    <button class="btn btn-primary">Dati Fase 2</button>
    <button class="btn btn-primary">Richiedi validazione</button>
</p>

{% endblock clean_content %}
