{% extends 'base_page.html' %}

{% load i18n %}
{% load static %}


{% block top_content %}
<h2>{% trans "Key Performance Indicators" %}</h2>
{% endblock top_content %}

{% block clean_content %}
<div class="row mt-5">
    <div class="col-12 col-lg-3">
        <!--start card-->
        <div class="card-wrapper card-space">
            <div class="card card-bg">
                <div class="card-body">
                    <h5 class="card-title">
                        {% trans 'Enabling factors' %}
                    </h5>
                    <p class="card-text">
                        {% trans 'Detections data' %}
                    </p>
                    <a class="read-more" href="{% url 'detection:dashboard' %}">
                        <span class="text">{% trans "Manage" %}</span>
                        <svg class="icon">
                            <use href="{% static 'svg/sprite.svg' %}#it-arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    <div class="col-12 col-lg-3">
        <!--start card-->
        <div class="card-wrapper card-space">
            <div class="card card-bg">
                <div class="card-body">
                    <h5 class="card-title">
                        {% trans 'Public Engagement' %}
                    </h5>
                    <p class="card-text">
                        {% trans 'Data collection of indicators on public engagements' %}
                    </p>
                    <a class="read-more" href="{% url 'public_engagement:dashboard' %}">
                        <span class="text">{% trans "Manage" %}</span>
                        <svg class="icon">
                            <use href="{% static 'svg/sprite.svg' %}#it-arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    <div class="col-12 col-lg-3">
        <!--start card-->
        <div class="card-wrapper card-space">
            <div class="card card-bg">
                <div class="card-body">
                    <h5 class="card-title">
                        {% trans 'Visiting/Teacher mobility' %}
                    </h5>
                    <p class="card-text">
                        {% trans 'Data collection of indicators on incoming and outgoing teachers' %}
                    </p>
                    <a class="read-more" href="{% url 'visiting:dashboard' %}">
                        <span class="text">{% trans "Manage" %}</span>
                        <svg class="icon">
                            <use href="{% static 'svg/sprite.svg' %}#it-arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
</div>
{% endblock clean_content %}
