{% extends 'pem/base.html' %}

{% load i18n %}
{% load static %}
{% load public_engagement_monitoring_tags %}


{% block top_content %}
<h2>{% trans "Structures" %}</h2>
<p>{% trans "Choose the structure to manage" %}</p>
{% endblock top_content %}

{% block clean_content %}
<div class="row mt-5">
    {% for structure in structures %}
    <div class="col-12 col-lg-4">
        <!--start card-->
        <div class="card-wrapper card-space">
            <div class="card card-bg">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ structure }}
                    </h5>
                    <p>
                        <b>{% trans "Approved" %}:</b>
                        {% filter_events_per_structure_id event_counts structure.pk as structure_events %}
                        {% if structure_events.0.approved_count  %}
                        <span class="badge bg-success">{{ structure_events.0.approved_count }}</span>
                        {% else %}
                        0
                        {% endif %}
                        <br>
                        <b>{% trans "Loaded by manager" %}:</b>
                        {% if structure_events.0.created_by_manager_count %}
                        <span class="badge bg-info">{{ structure_events.0.created_by_manager_count }}</span>
                        {% else %}
                        0
                        {% endif %}
                    </p>
                    <a class="read-more" href="{% url 'public_engagement_monitoring:manager_events' structure_slug=structure.slug %}">
                        <span class="text text-primary">{% trans "Manage" %}</span>
                        <svg class="icon">
                            <use href="{% static 'svg/sprites.svg' %}#it-arrow-right-circle"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    {% endfor %}
</div>
{% endblock clean_content %}
