{% extends 'pem/event.html' %}

{% load i18n %}
{% load static %}

{% load public_engagement_monitoring_tags %}


{% block actions %}
<div class="text-end mt-5">
    {% if event.is_editable_by_manager %}
    <a class="btn btn-outline-secondary" href="{% url 'public_engagement_monitoring:manager_event_basic_info' structure_slug=structure_slug event_id=event.pk %}">
        <svg class="icon icon-sm icon-info">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-pencil"></use>
        </svg> {% trans "General informations" %}
    </a>
    <a class="btn btn-{% if event.data %}outline-secondary{% else %}success{% endif %}" href="{% url 'public_engagement_monitoring:manager_event_data' structure_slug=structure_slug event_id=event.pk %}">
        <svg class="icon icon-sm icon-{% if event.data %}info{% else %}white{% endif %}">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-{% if event.data %}pencil{% else %}plus-circle{% endif %}"></use>
        </svg> {% trans "Event data" %}
    </a>
    {% endif %}

    {% if event.data and event.is_editable_by_manager %}
    <a class="btn btn-{% if event.data.person.all %}outline-secondary{% else %}success{% endif %}" href="{% url 'public_engagement_monitoring:manager_event_people' structure_slug=structure_slug event_id=event.pk %}">
        <svg class="icon icon-sm icon-{% if event.data.person.all %}info{% else %}white{% endif %}">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-{% if event.data.person.all %}pencil{% else %}plus-circle{% endif %}"></use>
        </svg> {% trans "Involved personnel" %}
    </a>
    {% endif %}
    {% if event.has_report_editable %}
    <a class="btn btn-xs btn-{% if event.report %}outline-secondary{% else %}success{% endif %}" href="{% url 'public_engagement_monitoring:manager_event_report' structure_slug=structure_slug event_id=event.pk %}">
        <svg class="icon icon-sm icon-{% if event.report %}info{% else %}white{% endif %}">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-{% if event.report %}pencil{% else %}plus-circle{% endif %}"></use>
        </svg> {% trans "Monitoring" %}
    </a>
    {% endif %}
</div>
{% endblock actions %}

{% block people %}
{% if event.data.person.all %}
<div class="mt-5 h5"><b>{% trans "Involved personnel" %}</b></div>
<hr />
<div class="table-responsive">
    <table class="table table-hover table-striped">
        {% for person in event.data.person.all %}
        <tr>
            <td>{{ person }}</td>
            <td class="text-end">
                {% if event.is_editable_by_manager %}
                <button type="button" class="btn btn-xs btn-danger" data-bs-toggle="modal" data-bs-target="#delete-{{ person.pk }}">
                    <svg class="icon icon-sm icon-white">
                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-delete"></use>
                    </svg>
                </button>
                <div class="it-example-modal d-inline">
                   <div class="modal" tabindex="-1" role="dialog" id="delete-{{ person.pk }}" aria-labelledby="delete-{{ person.pk }}-Title">
                      <div class="modal-dialog" role="document">
                         <div class="modal-content">
                            <div class="modal-header">
                               <h2 class="modal-title h5 " id="delete-{{ person.pk }}-Title">{% trans "Confirm" %}</h2>
                               <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi finestra modale">
                                  <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-close"></use></svg>
                               </button>
                            </div>
                            <div class="modal-body">
                               <p>{% trans "Do you want to confirm the entered data?" %}</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" href="{% url 'public_engagement_monitoring:manager_event_people_delete' structure_slug=structure_slug event_id=event.pk person_id=person.pk %}">
                                    {% trans 'Yes, proceed' %}
                                </a>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock people %}
