{% extends 'base_page.html' %}

{% load i18n %}
{% load static %}


{% block top_content %}
<h2>{% trans "Edit" %}</h2>

<div class="callout">
  <div class="callout-inner">
    <div class="callout-title">
        <svg class="icon">
            <use href="{% static 'svg/sprites.svg' %}#it-info-circle"></use>
        </svg>
        <span class="visually-hidden">{{ visiting.visitor }}</span>
        <span class="text">{{ visiting.visitor }}</span>
    </div>
    <p>
        {% trans "From" %}: {{ visiting.from_structure }} {% trans "To" %}: {{ visiting.to_structure }}
    </p>
    <p>
        {% trans "Start" %}: {{ visiting.start_date }} / {% trans "End" %}: {{ visiting.end_date }}
    </p>
</div>
</div>
{% endblock top_content %}

{% block page_content %}
{% include 'form_template.html' with form=form %}
{% endblock page_content %}
