{% extends 'base_page.html' %}

{% load i18n %}
{% load static %}


{% block top_content %}
<h2>{{ visiting.visitor }}</h2>
<h4>{% trans "From" %}: {{ visiting.from_structure }}</h4>
<h4>{% trans "To" %}: {{ visiting.to_structure }}</h4>
{% endblock top_content %}

{% block top_buttons %}
<div class="pb-4 clearfix mt-5">
    <div class="pull-left d-inline">
        <a role="button" class="btn btn-outline-secondary" href="{% url 'visiting:dashboard' %}">
            <svg class="icon icon-xs">
                <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
            </svg> {% trans "Visitings dashboard" %}
        </a>
    </div>
    <div class="pull-left d-inline">
        <a role="button" class="btn btn-outline-secondary" href="{% url 'visiting:structure_visitings' structure_slug=structure.slug %}">
            <svg class="icon icon-xs">
                <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
            </svg> {% trans "Visitings for" %} {{ structure }}
        </a>
    </div>

    <div class="pull-right d-inline">
        <a role="button"
           class="btn btn-outline-primary"
           href="{% url 'visiting:edit_structure_visiting' structure_slug=structure.slug visiting_pk=visiting.pk %}">
                <svg class="icon icon-xs">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-pencil"></use>
                </svg> {% trans "Edit" %}
        </a>
    </div>
</div>
{% endblock top_buttons %}

{% block page_content %}
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <th scope="row">{% trans 'Enabled' %}</th>
            <td>
                {% if visiting.is_active %}
                <svg class="icon icon-sm icon-success">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
                </svg>
                 {% else %}
                <svg class="icon icon-sm icon-danger">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close-circle"></use>
                </svg>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">{% trans 'Visitor' %}</th>
            <td>{{ visiting.visitor }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans 'Role' %}</th>
            <td>{{ visiting.role }}</td>
        </tr>
        {% if collaborations %}
        <tr>
            <th scope="row">{% trans 'Collaborations' %}</th>
            <td>
                <ul>
                    {% for collaboration in collaborations %}
                    <li>{{ collaboration.collab }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">{% trans 'Departure' %}</th>
            <td>{{ visiting.from_structure }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans 'Destination' %}</th>
            <td>{{ visiting.to_structure }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans 'Mission' %}</th>
            <td>
                {% if visiting.mission %}
                <svg class="icon icon-sm icon-success">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
                </svg>
                 {% else %}
                <svg class="icon icon-sm icon-danger">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-close-circle"></use>
                </svg>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">{% trans 'Start' %}</th>
            <td>{{ visiting.start_date|date:"d/m/Y" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans 'End' %}</th>
            <td>{{ visiting.end_date|date:"d/m/Y" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans 'Didactic hours' %}</th>
            <td>{{ visiting.didactic_hour }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans 'Effective days' %}</th>
            <td>{{ visiting.effective_days }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans 'Notes' %}</th>
            <td>{{ visiting.note|default:"-" }}</td>
        </tr>
    </tbody>
</table>

{% include "obj_logs.html" with logs=visiting_logs %}

{% endblock page_content %}
